*.bin
jupyter.log
.ipynb_checkpoints
.virtual_documents
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.csv
*.png
*.cache
*.parquet
*.npy
output/*
notebook/wandb
notebook/.ipynb_checkpoints
notebook/nohup.out
notebook/lightning_logs
notebook/dataset
.Trash-0
wandb/*
lightning_logs/*
.env